:root{
    --black: rgba(0, 0, 0, 0.932);
    --black-20: rgba(0, 0, 0, 0.842);
    --white: rgba(255, 255, 255);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    
}

#display-title{
    color: var(--black);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;

}
main{
    padding: 0.5em;
    display: flex;
}
.container{  
    width: 500px;
}
.box-form{
    box-shadow: 3px 1px 8px rgba(255, 255, 255, 0.562);
    border: 5px solid var(--white);
    border-radius: 35px;
    background-color: var(--black-20);
    color: var(--white)   
}
.box-form h2{
    font-size: 1.2rem;
    padding: 1.3rem;
}
.form-container{
    color: var(--black);
    text-align: center;
    display: flex;
    justify-content: center;
    height: 380px;
    background-color: var(--white);
    border: 4px solid var(--white);
    border-radius: 30px 30px 20px 20px;
    
}
.form{
    margin-top: 3px;
    margin-left: 3rem;
    margin-bottom: 1rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.form label{
  font-size: 1.3em;
  font-weight: 500;  
}
.form input{
    background-color: #eee;
    border: none;
    margin: 6px 0;
    padding: 11px 2rem;
    font-size: 13px;
    outline: none;
    border-radius: 10px;
    width: 85%;
}
.form input:focus{
    border: 2px solid rgba(80, 80, 80, 0.205)
    
}
.container-btn{
    display: flex;
    justify-content: flex-end;
    
}
.btn-style{
    margin-top: 5px;
    background-color: var(--black-20);
    color: var(--white);
    font-size: 1.6rem;
    border-radius: 0px 2rem 2rem 0rem;
    font-weight: 800;
    padding: 28px;
    display: flex;
    align-items: center;


}
.btn-style:active {
    transition: ease-in 250ms;
    opacity: 0.92;
    background-color: var(--white);
    color: var(--black-20);
}
.container-result{
    margin:2px;
    width: 85%;
    color: white;                           
    background-color: var(--black-20);
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid rgb(231, 231, 231);
}
.container-result p{
    display: flex;
    justify-content: flex-end;
    
}
.p-result{
    font-weight: 600;
    margin-right: 1.2em;
    font-size: 1.0rem;
    overflow: hidden;

}
.container-result  span{
    text-align: center;
    margin: 0px 2rem;
    
}
